.main_index { 
    background: url(/pics/pexels-timur-saglambilek-66639.jpg);
    background-size:cover;
    color: rgb(156, 25, 25);
}
.main_ul { 
    color:red;
}

header { 
    font-size: 50px;
    text-align: center;
}
body { 
    color:black;
    background-color: rgb(205, 198, 203);
}
h1 { 
    font-family: Arial, Helvetica, sans-serif;
}
h2 { 
    font-family: monospace;
}
h3 { 
    font-family: monospace;
}
p { 
    font-family: cursive;
    font-size: 20px;
}
li { 
    font-family: monospace;
    font-size: 18px;
}
